
<footer class="footer">
    <div class="footer-section">
        <h3>Follow us:</h3>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        <a href="#">TikTok</a>
    </div>

    <div class="footer-section">
        <h3>Help Center</h3>
        <a href="{% url 'faq' %}">FAQ</a>
        <a href="{% url 'faq' %}">How to sell?</a>
        <a href="{% url 'faq' %}">How to buy?</a>
        <a href="{% url 'faq' %}">How to sign up?</a>
    </div>

    <div class="footer-section">
        <h3>More</h3>
        <a href="{% url 'about' %}">About us</a>
        <a href="{% url 'location' %}">Location</a>
        <a href="#">Contact</a>
    </div>
</footer>