<footer class="footer">
    <div class="footer-section">
        <h3>Follow us:</h3>
        <a href="https://www.instagram.com/artvault/">Instagram</a>
        <a href="https://www.facebook.com/ArtVaultIndia1">Facebook</a>
        <a href="https://www.tiktok.com/@artvault.ch">TikTok</a>
    </div>

    <div class="footer-section">
        <h3>Help Center</h3>
        <a href="{% url 'faq' %}">FAQ</a>
        <a href="{% url 'faq' %}">How to sell?</a>
        <a href="{% url 'faq' %}">How to buy?</a>
        <a href="{% url 'faq' %}">How to sign up?</a>
    </div>

    <div class="footer-section">
        <h3>More</h3>
        <a href="{% url 'about' %}">About us</a>
        <a href="{% url 'location' %}">Location - Contact us</a>
    </div>
</footer>