{% load static %}

<h1>Add Artwork</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.title.label_tag }}
    {{ form.title }}

    {{ form.category.label_tag }}
    {{ form.category }}

    <div class="painting-field">
        {{ form.painting_medium.label_tag }}
        {{ form.painting_medium }}
        {{ form.painting_style.label_tag }}
        {{ form.painting_style }}
    </div>

    <div class="sculpture-field">
        {{ form.sculpture_material.label_tag }}
        {{ form.sculpture_material }}
        {{ form.sculpture_style.label_tag }}
        {{ form.sculpture_style }}
    </div>

    <div class="furniture-field">
        {{ form.furniture_material.label_tag }}
        {{ form.furniture_material }}
        {{ form.furniture_style.label_tag }}
        {{ form.furniture_style }}
    </div>

    <div class="photo-field">
        {{ form.photo_technique.label_tag }}
        {{ form.photo_technique }}
        {{ form.photo_style.label_tag }}
        {{ form.photo_style }}
    </div>

    {{ form.starting_bid.label_tag }}
    {{ form.starting_bid }}

    {{ form.width.label_tag }}
    {{ form.width }}

    {{ form.height.label_tag }}
    {{ form.height }}

    {{ form.year.label_tag }}
    {{ form.year }}

    {{ form.edition.label_tag }}
    {{ form.edition }}

    {{ form.provenance.label_tag }}
    {{ form.provenance }}

    {{ form.description.label_tag }}
    {{ form.description }}
button
    {{ form.main_image.label_tag }}
    {{ form.main_image }}

    < type="submit">Add Artwork</button>
</form>

<script src="{% static 'artworks/artwork_form.js' %}"></script>
