{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-container">
        {% include "accounts/partials/profile_header.html" %}
        {% include "accounts/partials/profile_cover.html" %}

        <div class="profile-layout">
            {% include "accounts/partials/profile_sidebar.html" %}

            <div class="right-side">
                {% if seller %}
                    {% include "accounts/partials/seller_profile_content.html" %}
                {% else %}
                    {% include "accounts/partials/buyer_profile_content.html" %}
                {% endif %}
            </div>
        </div>
    </div>

    {% include "accounts/partials/profile_notifications.html" %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/profile.js' %}?v=2"></script>
{% endblock %}
