{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="profile-container">

    <div class="profile-top">

        <a class="profile-back-link" href="/">‹</a>

        <div class="profile-title">
            My profile
        </div>

    </div>


    {% if seller and seller.cover_image %}
    <div class="cover-container">
        <img
            class="cover-image" src="{{ seller.cover_image.url }}">

        <div class="floating-profile">

            {% if seller.logo %}
                <img class="profile-image" src="{{ seller.logo.url }}" alt="{{ seller.name }}">

            {% else %}
                <div class="default-profile">
                    <div class="default-head"></div>
                    <div class="default-body"></div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}

    <div class="profile-layout">

        <div class="left-side">
            {% if not seller %}
                {% if profile.profile_image %}
                    <img class="profile-image" src="{{ profile.profile_image.url }}" alt="{{ profile.name }}">
                {% else %}

                    <div class="default-profile">
                        <div class="default-head"></div>
                        <div class="default-body"></div>
                    </div>
                {% endif %}
            {% elif seller and not seller.cover_image %}
                {% if seller.logo %}
                    <img class="profile-image" src="{{ seller.logo.url }}" alt="{{ seller.name }}">
                {% else %}
                    <div class="default-profile">
                        <div class="default-head"></div>
                        <div class="default-body"></div>
                    </div>
                {% endif %}
            {% endif %}

            <div class="profile-name">
                {% if seller %}{{ seller.name }}{% else %}{{ profile.name }}{% endif %}
            </div>

            {% if seller %}
                <div class="profile-type">
                    Seller type: {{ seller.seller_type }}
                </div>
            {% endif %}

            <a class="profile-btn" href="{% url 'edit_profile' %}">
                Edit account information
            </a>

            {% if not seller %}
                <a class="profile-btn" href="{% url 'become_seller' %}">
                    Become seller
                </a>
            {% endif %}

            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}

                <button class="profile-btn logout-btn" type="submit">
                    Log out
                </button>
            </form>
        </div>


        <div class="right-side">

            {% if seller %}
                <div class="info-box">

                    <div class="inner-box">
                        <h1>What I'm selling</h1>
                        <div class="section-line"></div>
                        {% if artworks %}
                            <div class="listing-scroll">
                                {% for artwork in artworks %}
                                    <a href="{% url 'artwork_detail' artwork.id %}" class="artwork-link">

                                        <div class="listing-left">
                                            <span class="listing-dot"></span>
                                            {{ artwork.title }}
                                        </div>

                                        <span class="listing-action">
                                            See listing
                                        </span>
                                    </a>
                                {% endfor %}
                            </div>

                            {% else %}
                                <p>No artworks listed yet.</p>
                            {% endif %}
                            </div>

                    <div class="inner-box">
                        <h1>My bids</h1>
                        <div class="section-line"></div>
                        <p>No bids yet.</p>
                    </div>

                    <div class="inner-box">
                        <div class="section-line"></div>
                        <h1>My buys</h1>
                        <p>No purchases yet.</p>
                    </div>
                </div>
            {% else %}


                <div class="info-box">

                    <div class="inner-box">
                        <h1>My bids</h1>
                        <!--placeholder-->
                        <p>No bids yet</p>
                    </div>

                    <div class="inner-box">
                        <h1>My buys</h1>
                        <!--placeholder-->
                        <p>No purchases yet</p>
                    </div>

                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
